.Header {
    width: 100%;
    height: 75px;
    background-color: #519872;
    color: white;
    font-weight: 700;
    font-size: 15px;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  
  .Header > img {
    position: absolute;
    left: 400px;
    top: 23px;
  }
  
  .Header > h1 {
    position: absolute;
    left: 445px;
    top: -2px;
  }
  