.main {
    height: 100vh;
    width: 50vw;
    background-color: #E5F4EC;
}
  
.wiz_header {
    display: flex;
    justify-content: space-between;
}
  
.wiz_header h2 {
    font-weight: 700;
    font-size: 30px;
    margin: 20px;
}
  
.wiz_header button {
    background-color: #FEC2C2;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
    margin: 20px;
}
  
.wiz_header button:hover {
    cursor: pointer;
}
  
.input_container {
    width: 75%;
    margin: 10px;
    float: left;
    font-size: 18px;
    font-weight: 700;
}
  
.input_container > input {
    border: solid 1px #519872;
    border-radius: 2px;
    height: 25px;
    width: 75%
}

button:hover {
    cursor: pointer
}

.nextButt{
    background-color: #3B5249;
    color: white;
    position: absolute;
    bottom: 400px;
    right: 400px;
    padding: 10px;
    font-size: 20px;
}
  
  .prevButt {
    background-color: #3B5249;
    color: white;
    position: absolute;
    bottom: 400px;
    left: 400px;
    padding: 10px;
    font-size: 20px;
  }
  
  .complete {
    background-color: #8AEA92;
    position: absolute;
    bottom: 400px;
    right: 400px;
    padding: 10px;
    font-size: 20px;
  }